html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Bahnschrift", "Trebuchet MS", "Yu Gothic", "PingFang SC", sans-serif;
  background: var(--bg-1);
  color: var(--ink);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
